*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #333;
    line-height: 1.6;
    margin: 0 1% 0 1%;
}

header{
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;

}

img{
    width: 180px;
    height: auto;   
}

h1{
    padding: 20px;
    font-size: 2.5em;
    color: #333;
}

ul{
    margin-top: 10px;
    padding-left: 0;
    color: #777;
    font-size: 1.1em;
}

ul > li{
    font-size: 0.9em;
    color: #9EF493;
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 1.1em;
}

header p{
    font-size: 1.2em;
    color: #555;
}

#menu{
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

#grid-card-box{
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    gap: 15px;
    padding: 20px;
    width: 90%;
}

    #grid-card-box > .card-box:hover{
        transform: scale(1.05);
    }

    #grid-card-box > .card-box > .card-images > img:nth-of-type(2){
        width: 150px;
        height: auto;
    }

    #grid-card-box > .card-box{  
        padding: 100px;
        margin: 0 auto;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        background-color: red;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }

    #grid-card-box > .card-box > h2{
        margin-bottom: 10px;
        background-color: #333;
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

#grid-card-box > .card-box > .box-card-images{
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.card-box > .card-info{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    border-radius: 5px;
    background-color: #222;
    padding: 10px 10px 10px 20px;
}

.card-box > .card-info > .card-info-list{
    list-style-type: none;
}

.duelist-icon{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

.card-box > h2{
    text-align: center;
    font-size: 1.6em;
    color: #333;
}

.card-info-icon{
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}

.monster-icon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.card-info-attack-defense-icon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.level-card-info-icon{
    width: 30px;
    height: 28px;
    vertical-align: middle;
    margin-right: 5px;
}

@media (min-width: 1440px) and (max-width: 1980px) {

    #grid-card-box{
        display: grid;
        /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
        gap: 15px;
        padding: 20px;
        width: 90%;
    }

    #grid-card-box > .card-box{  
        padding: 10px;
        margin: 0 auto;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }

}

@media (min-width: 600px) and (max-width: 1439px) {
    #grid-card-box > .card-box > .card-images > img{
        width: 140px;
        height: auto;   
    }


    #grid-card-box{
        display: grid;
        /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
        gap: 15px;
        padding: 20px;
        width: 90%;
    }

    #grid-card-box > .card-box{  
        padding: 10px;
        margin: 0 auto;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }

    #grid-card-box > .card-box:hover{
        transform: scale(1.03);
    }

}

@media (min-width: 600px) and (max-width: 1181px) {
    #grid-card-box > .card-box > .card-images > img{
        width: 120px;
        height: auto;   
    }
    #grid-card-box{
        display: grid;
        /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); 
        gap: 15px;
        padding: 20px;
        width: 90%;
    }
    #grid-card-box > .card-box{  
        padding: 10px;
        margin: 0 auto;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }
    #grid-card-box > .card-box:hover{
        transform: scale(1.03);
    }

}

@media (min-width: 400px) and (max-width: 712px) {
    #grid-card-box > .card-box > .card-images > img{
        width: 100px;
        height: auto;   
    }
    #grid-card-box{
        display: grid;
        /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
        gap: 15px;
        padding: 20px;
        width: 90%;
    }
    #grid-card-box > .card-box{  
        padding: 10px;
        margin: 0 auto;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }
}

